/* primary #a1887f, light #d3b8ae, dark #725b53 */

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #a1887f !important;
}

a.navbar-brand {
    color: white !important;
}

a.nav-link {
    color: white !important;
}

a.nav-link:hover {
    color: black !important;
}

.home-card {
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #a1887f;
  }

  /* .home-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */

  .home-title {
      margin-top: 10px;
      color: white;
  }

  .home-list {
    color: white;
}

.github-link {
    color: white;
    text-decoration: underline;
}

.github-link:hover {
    color: black;
}

.main-card {
    background: #a1887f;
    color: white;
}

.home-button {
    background: white;
    border-color: white;
    color: #a1887f;
}

.home-button:hover {
    background: black;
    border-color: black;
    color: white;
}